{% if wrongPassword %}
  <div class="alert alert-danger">{{ _t('WRONG_PASSWORD') }}.</div>
{% endif %}
{% if passwordForEditingMessage %}
  <p class="password_for_editing_message">{{ passwordForEditingMessage }}</p>
{% endif %}
<form method="post" action="{{ url({handler:handler}) }}" class="form-inline">
  <div>
    <label for="password_for_editing">{{ _t('HASHCASH_GENERAL_PASSWORD') }}</label>
    <input type="password" class="form-control" id="password_for_editing" name="password_for_editing">
    {# pour l'edition d'une page de l'historique #}
    {% if time %}
      <input type="hidden" name="time" value="{{ time|e('html') }}">
    {% endif %}
    {% if previous %}
      <input type="hidden" name="time" value="{{ previous|e('html') }}">
    {% endif %}
    <button type="submit" class="btn btn-primary">{{ _t('HASHCASH_SEND') }}</button>
  </div>
</form>
