{% extends "@bazar/entries/list_dynamic.twig" %}

{% set necessary_fields = ['bf_titre', 'soustitre'] %}

{% block display_entries %}
  <div class="panel-group no-dblclick" v-if="ready">
    <div v-if="entriesToDisplay.length == 0" class="alert alert-info">
      {{ _t('BAZ_NO_RESULT') }}
    </div>
    <Panel v-for="entry in entriesToDisplay" :key="entry.id_fiche" class="bazar-entry" 
           @opened="getEntryRender(entry)">
      <template #header>
        <h4 class="panel-title">
          <span v-show="entry.color" class="pellet" :style="{'background-color': entry.color}"></span>
          <i v-show="entry.icon" :class="entry.icon"></i>
          {{"{{ entry.bf_titre }}"}}
        </h4>
        <small v-if="entry.soustitre" class='accordion-subtitle'>
          {# TODO BazarListDynamic crops soustitre with text ellipsis #}
          {{"{{ entry.soustitre }}"}}
        </small>
      </template>
      <template #body>
        <div v-html="entry.html_render"></div>
      </template>
    </Panel>
  </div>
{% endblock %}