<div class="btn-group attach-file-uploader"
    {% if fileUploaderAnchor %} data-anchor="{{ fileUploaderAnchor }}"{% endif %}
    {% if fileUploaderTextarea %} data-textarea="{{ fileUploaderTextarea }}"{% endif %}>
  <noscript>
    <span class="alert alert-danger alert-error">{{ _t('ACTIVATE_JS_TO_UPLOAD_FILES') }}.</span>
  </noscript>
  <div class="qq-uploader">
    <div class="qq-upload-button btn btn-default" title="{{ _t('UPLOAD_A_FILE') }}">
      <i class="fa fa-upload icon-upload"></i>&nbsp;{{ _t('UPLOAD_A_FILE_SHORT') }}
    </div>
    <ul class="qq-upload-list"></ul>
  </div>
  <div class="sample-upload-list hide">
    <li>
      <span class="qq-upload-file"></span>
      <span class="qq-upload-spinner"></span>
      <span class="qq-upload-size"></span>
      <a class="qq-upload-cancel" href="#">{{ _t('ATTACH_CANCEL') }}</a>
      <span class="qq-upload-failed-text">{{ _t('FAILED') }}</span>
    </li>
  </div>
</div>