<div class="modal fade" id="UploadModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ _t('UPLOAD_FILE') }} </h4>
      </div>
      <div class="modal-body">
        <form role="form" id="form-modal-upload" class="form-horizontal">
          <input type="hidden" value="" name="filename" class="filename" />

          <div class="form-group file-option">
            <label class="control-label col-sm-3">{{ _t('DOWNLOAD_LINK_TEXT') }}</label>
            <div class="controls col-sm-9">
              <input type="text" name="attach_link_text" value="" class="attach_link_text form-control">
            </div>
          </div>

          <div class="form-group pdf-option">
            <label class="control-label col-sm-3">{{ _t('ATTACH_ACTION_DISPLAY_PDF_TEXT') }}</label>
            <div class="controls col-sm-9">
              <div class="radio inline-container">
                <label>
                  <input type="radio" name="attach_action_display_pdf" value="0" checked="checked">
                  <span>{{ _t('ATTACH_ACTION_DISPLAY_PDF_LINK_TEXT') }}</span>
                </label>
                <label>
                  <input type="radio" name="attach_action_display_pdf" value="1">
                  <span>{{ _t('ATTACH_ACTION_DISPLAY_PDF_INCLUDED_TEXT') }}</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group image-option">
            <label class="control-label col-sm-3">{{ _t('IMAGE_ALIGN') }}</label>
            <div class="controls col-sm-9">
              <div class="radio inline-container">
                <label class="label-image-align-none" for="image-align-none">
                  <input type="radio" id="image-align-none" checked="checked" value="" name="attach_align" class="input_radio image-align-none" />
                  <span>
                    <img loading="lazy" src="tools/attach/presentation/images/align-none.png" alt="" />
                    {{ _t('NONE') }}
                  </span>
                </label>
                <label class="label-image-align-left" for="image-align-left">
                  <input type="radio" id="image-align-left"value="left" name="attach_align" class="input_radio image-align-left" />
                  <span>
                    <img loading="lazy" src="tools/attach/presentation/images/align-left.png" alt="" />
                    {{ _t('LEFT') }}
                  </span>
                </label>
                <label class="label-image-align-center" for="image-align-center">
                  <input type="radio" id="image-align-center" value="center" name="attach_align" class="input_radio image-align-center" />
                  <span>
                    <img loading="lazy" src="tools/attach/presentation/images/align-center.png" alt="" />
                    {{ _t('CENTER') }}
                  </span>
                </label>
                <label class="label-image-align-right" for="image-align-right">
                  <input type="radio" id="image-align-right" value="right" name="attach_align" class="input_radio image-align-right">
                  <span>
                    <img loading="lazy" src="tools/attach/presentation/images/align-right.png" alt="" />
                    {{ _t('RIGHT') }}
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group image-option">
            <label class="control-label col-sm-3">{{ _t('IMAGE_SIZE') }}</label>
            <div class="controls col-sm-9">
              <div class="radio inline-container">
                <label for="image-size-small">
                  <input type="radio" id="image-size-small" value="small" name="attach_imagesize" class="input_radio image-size-small">
                  <span>
                    {{ _t('THUMBNAIL') }}&nbsp;({{ config['image-small-width'] }}x{{ config['image-small-height'] }})
                  </span>
                </label>
                <label for="image-size-medium">
                  <input type="radio" id="image-size-medium" value="medium" name="attach_imagesize" class="input_radio image-size-medium">
                  <span>
                    {{ _t('MEDIUM') }}&nbsp;({{ config['image-medium-width'] }}x{{ config['image-medium-height'] }})
                  </span>
                </label>
                <label for="image-size-big">
                  <input type="radio" id="image-size-big" value="big" name="attach_imagesize" class="input_radio image-size-big">
                  <span>
                    {{ _t('BIG') }}&nbsp;({{ config['image-big-width'] }}x{{ config['image-big-height'] }})
                  </span>
                </label>
                <label for="image-size-original">
                  <input type="radio" id="image-size-original" checked="checked" value="original" name="attach_imagesize" class="input_radio image-size-original">
                  <span>
                    {{ _t('ORIGINAL_SIZE') }}
                  </span>
                </label>
              </div>
            </div>
          </div>

					<div class="form-group">
						<label class="control-label col-sm-3" title="{{ _t('ALT_INFOS') }}">{{ _t('ALTERNATIVE_TEXT') }}</label>
						<div class="controls col-sm-9">
							<input type="text" name="attach_alt" value="" class="attach_alt form-control">
						</div>
					</div>

          <a title="{{ _t('SEE_THE_ADVANCED_PARAMETERS') }}" href="#avanced-settings" data-toggle="collapse" class="btn btn-default">{{ _t('ADVANCED_PARAMETERS') }}</a>
          <div id="avanced-settings" class="collapse">
            <hr>
            <div class="form-group">
              <label class="control-label col-sm-3" for="attach_link">{{ _t('ASSOCIATED_LINK') }}</label>
              <div class="controls col-sm-9">
                <input type="text" id="attach_link" name="attach_link" value="" class="attach_link form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">{{ _t('GRAPHICAL_EFFECTS') }}</label>
              <div class="controls col-sm-9">
                <div class="checkbox inline-container">
                  <label>
                    <input type="checkbox" name="attach_css_class" value="whiteborder" />
                    <span>{{ _t('WHITE_BORDER') }}</span>
                  </label>
                  <label>
                    <input type="checkbox" name="attach_css_class" value="lightshadow" />
                    <span>{{ _t('DROP_SHADOW') }}</span>
                  </label>
                  <label>
                    <input type="checkbox" name="attach_css_class" value="zoom" />
                    <span>{{ _t('ZOOM_HOVER') }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">{{ _t('ATTACH_ACTION_FULLIMAGELINK_TEXT') }}</label>
              <div class="controls col-sm-9">
                <div class="radio inline-container">
                  <label>
                    <input type="radio" name="attach_nofullimagelink" value="0">
                    <span>{{ _t('YES') }}</span>
                  </label>
                  <label>
                    <input type="radio" name="attach_nofullimagelink" value="1" checked="checked">
                    <span>{{ _t('NO') }}</span>
                  </label>
                </div>
              </div>
            </div>

						<div class="form-group image-option">
							<label class="control-label col-sm-3" for="attach_caption">{{ _t('CAPTION') }}</label>
							<div class="controls col-sm-9">
								<input type="text" id="attach_caption" name="attach_caption" value="" class="attach_caption form-control">
							</div>
						</div>
					</div>
				</form>
			</div>

      <div class="modal-footer">
        <a href="#" data-dismiss="modal" role="button" class="btn btn-default btn-cancel-upload">{{ _t('CANCEL_THIS_UPLOAD') }}</a>
        <button name="insert" class="btn btn-primary btn-insert-upload">{{ _t('INSERT') }}</button>
      </div>
    </div>
  </div>
</div>
