{{ include_javascript('tools/helloworld/javascripts/greeting.js') }}
{{ include_css('tools/helloworld/styles/greeting.css') }}

<h2 class="hello-title">Hello {{ userName }} !</h2>
<b>{{ _t('HELLOWORLD_MY_MESSAGE') }} : {{ arguments.message }}</b>
<p>{{ _t('HELLOWORLD_CONFIG') }} : {{ config.hello_world.my_param }}</p>

<h3>Url Helper</h3>
<li><a href={{ url({handler: 'xml'}) }}>{{ _t('HELLOWORLD_URL_SHOW_XML') }}</a></li>
<li><a href={{ url({tag: 'PagePrincipale'}) }}>{{ _t('HELLOWORLD_URL_SHOW_TAG', {tag: 'PagePrincipale'}) }}</a></li>
<li><a href={{ url({tag: 'PagePrincipale', handler: 'edit'}) }}>{{ _t('HELLOWORLD_URL_EDIT_TAG', {tag: 'PagePrincipale'}) }}</a></li>
<li><a href={{ url({handler: 'edit', params: {foo: 'bar', number: 5}}) }}>{{ _t('HELLOWORLD_URL_EDIT_WITH_PARAMS') }}</a></li>
