<html>
    <head>
        <style type="text/css">{{ style|replace({'url(':'url(' ~ baseUrl ~ '/tools/bazar/presentation/'})|raw }}</style>
    </head>
    <body>
        Bienvenue sur {{ baseUrl|replace({'http://':'','https://':''}) }},
        <br />
        <br />
        <a href="{{ url({tag:entry.id_fiche}) }}" 
            title="{{ _t('BAZ_SEE_ENTRY') }}">
            {{ _t('BAZ_SEE_ENTRY_ONLINE') }}
        </a>
        {{ mailCustomMessage|raw }}
        {{- entryHTML|replace({'src="tools':'src="' ~ baseUrl ~ '/tools'})|raw }}
    </body>
</html>