{{ include_javascript('javascripts/vendor/vue/vue.js') }}
{{ include_javascript('javascripts/handlers/revisions.js') }}
{{ include_css('styles/handlers/revisions.css') }}

<div class="revisions-container" 
     data-revisions="{{ revisions|json_encode }}" 
     data-revisions-count="{{ revisionsCount }}">
  <template v-if="selectedRevision">
    
    {# Title #}
    <div class="revision-page-title">
      <a class="btn btn-sm btn-default" href="{{ url({}) }}">
        <i class="fas fa-arrow-left"></i>{{  _t('GO_BACK') }}
      </a>
      <h1 class="text-center text-default"> Historique de la page</h1>
    </div>

    {# Timeline #}
    <div class="timeline-container">
      <template v-for="revision in revisions">
        <div class="timeline-item" :key="revision.id"
            :style="timelineItemStyle(revision)"
            :class="{active: selectedRevision == revision}"
            @click="selectedRevision = revision">
          
        </div>
        <span class="timeline-item-text" :style="timelineItemStyle(revision, false)">
          N°{{"{{revision.number }}"}} - {{"{{revision.displayTime }}"}}
        </span>
      </template>
      <div class="timeline-bar"></div>
    </div>

    {# Selected Revision Title with buttons #}
    <div class="revision-title-container">
      <i class="fa fa-chevron-left fa-4x" @click="moveRevision(true)" :disabled="selectedRevision == firstRevision"></i>
      <div class="text-center revision-title">
        <h3 class="text-secondary-1">
          Version N°{{"{{selectedRevision.number }}"}} du {{"{{selectedRevision.displayTime }}"}}
          par {{"{{ selectedRevision.user }}"}}
        </h3>        
         <a :href="restoreUrl" class="btn btn-success btn-restore"
            :disabled="selectedRevision == lastRevision"
            v-text="selectedRevision == lastRevision ? 'Version actuelle' : 'Restaurer cette version'">
        </a>
      </div>
      <i class="fa fa-chevron-right fa-4x" @click="moveRevision(false)" :disabled="selectedRevision == lastRevision"></i>
    </div>
    
    {# View Types Selector #}
    <ul class="view-types-selector nav nav-tabs">
      <li v-for="label, type in viewTypes" role="presentation"
          :class="{active: selectedViewType == type}"
          @click="selectedViewType = type"
          v-show="type != 'comp' || selectedRevision != lastRevision">
          <a href="#" v-text="label"></a>
      </li>
      <label class="code-or-preview"> 
        <input type="checkbox" v-model="displayWikiCode" />
        <span>Afficher le Code Wiki</span>
      </span>
    </ul>

    <div class="preview-container">
      {# Selected version display #}
      <template v-if="selectedViewType == 'current'">
        <pre v-if="displayWikiCode" v-html="selectedRevision.current_code"></pre>
        <div v-else v-html="selectedRevision.current_html"></div>
      </template>

      {# Diff made by seleted version #}
      <template v-if="selectedViewType == 'diff'">
        <template v-if="selectedRevision.diff_html">
          <pre v-if="displayWikiCode" v-html="selectedRevision.diff_code"></pre>
          <div v-else v-html="selectedRevision.diff_html"></div>
        </template>
        <div v-else class="text-center">Aucune différence à afficher. Cette version est là plus ancienne</div>
      </template>

      {# Loader #}
      <div class="text-center text-soft spinner-loader" v-if="!selectedRevision.fullyRetrieved">
        <i class="fas fa-circle-notch fa-spin fa-4x"></i>
      </div>
    </div>
  </template>
</div>