
{{ infoRes|raw }} {# affiche le nombre de résultats #}

{# l'id doit être unique - dans le cas où il y a plusieurs tableaux sur la même page
, on utilise $param['nbbazarliste'] qui s'incrémente à chaque fois qu'on appelle bazarliste
pour différencier les différents tableaux table_1 table_2 #}

<table id="table_{{ param.nbbazarliste}}" class="table table-condensed display" data-scroll-x="true">
  <thead>
    <tr>
      {# Column titles #}
      {% for index,info in columnsInfo %}
        <th>{{ info.title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
      <tr class="bazar-entry" {{ entry.html_data|raw }}>
        {% set searchTitle = ("bf_titre" in columnsInfo|map(p => p.propertyName)) %}
        {% for info in columnsInfo %}
          {% set val = entry[info.propertyName] %}
          <td>
            {% if info.key is empty %}
              {% if (searchTitle and info.propertyName == "bf_titre") or 
                    (not searchTitle and loop.first and not info.mapFieldId) %}
                <a href="{{ url({tag:entry.id_fiche}) }}" class="modalbox" data-size="modal-lg">
                  {{ val }}
                </a>
              {% elseif info.mapFieldId %}
                {{ val[info.mapFieldId] }}
              {% else %}
                {{ val }}
              {% endif %}
            {% else %}
              {{ (info.key in val|split(',')) ? 'X' : '' }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include_javascript('javascripts/vendor/datatables.net/jquery.dataTables.min.js') }}
{{ include_javascript('javascripts/vendor/datatables.net-bs/dataTables.bootstrap.min.js') }}
{% if param.groups is empty %}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons/dataTables.buttons.min.js') }}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons/buttons.colVis.min.js') }}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons/buttons.flash.min.js') }}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons/buttons.html5.min.js') }}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons/buttons.print.min.js ') }}
  {{ include_javascript('javascripts/vendor/datatables.net-buttons-bs/buttons.bootstrap.min.js ') }}
{% endif %}
{{ include_javascript('javascripts/vendor/datatables.net-fixedheader/dataTables.fixedHeader.min.js ') }}
{{ include_javascript('javascripts/vendor/datatables.net-fixedheader-bs/fixedHeader.bootstrap.min.js ') }}
{{ include_javascript('javascripts/vendor/datatables.net-responsive/dataTables.responsive.min.js ') }}
{{ include_javascript('javascripts/vendor/datatables.net-responsive-bs/responsive.bootstrap.min.js ') }}

{{ include_css('styles/vendor/datatables.net-bs/dataTables.bootstrap.min.css') }}
{% if param.groups is empty %}
  {{ include_css('styles/vendor/datatables.net-buttons-bs/buttons.bootstrap.min.css ') }}
{% endif %}
{{ include_css('styles/vendor/datatables.net-fixedheader-bs/fixedHeader.bootstrap.min.css ') }}
{{ include_css('styles/vendor/datatables.net-responsive-bs/responsive.bootstrap.min.css ') }}