
{{ infoRes|raw }} {# affiche le nombre de résultats #}

{# l'id doit être unique - dans le cas où il y a plusieurs tableaux sur la même page
, on utilise $param['nbbazarliste'] qui s'incrémente à chaque fois qu'on appelle bazarliste
pour différencier les différents tableaux table_1 table_2 #}

<table id="table_{{ param.nbbazarliste}}" class="table prevent-auto-init table-condensed display in-tableau-template" data-scroll-x="true">
  <thead>
    <tr>
      {# Column titles #}
      {% for index,info in columnsInfo %}
        <th{{ (info.propertyName in sumFieldsIds) ? ' class="sum-activated"' : ''}}>{{ info.title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
      <tr {{ entry.html_data|raw }}>
        {% set searchTitle = ("bf_titre" in columnsInfo|map(p => p.propertyName)) %}
        {% for info in columnsInfo %}
          {% set val = entry[info.propertyName] %}
          <td>
            {% if info.key is empty %}
              {% if (searchTitle and info.propertyName == "bf_titre") or 
                    (not searchTitle and loop.first and not info.mapFieldId) %}
                <a href="{{ url({tag:entry.id_fiche}) }}" class="modalbox" data-size="modal-lg">
                  {{ val }}
                </a>
              {% elseif info.mapFieldId %}
                {{ val[info.mapFieldId] }}
              {% else %}
                {{ val }}
              {% endif %}
            {% else %}
              {{ (info.key in val|split(',')) ? 'X' : '' }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    {% if sumFieldsIds is not empty %}
      {# sums by col #}
      <tfoot>
        {% for index,info in columnsInfo %}
          <th>
            {{ loop.first and (info.propertyName not in sumFieldsIds) ? _t('SUM'):''}}
          </th>
        {% endfor %}
      </tfoot>
    {% endif %}
  </tbody>
</table>

{{ include_javascript('javascripts/vendor/datatables-full/jquery.dataTables.min.js') }}
{{ include_javascript('tools/bazar/presentation/javascripts/tableau.js') }}
{{ include_css('styles/vendor/datatables-full/dataTables.bootstrap.min.css') }}