<div class="filters-col col-sm-{{ params.filtercolsize }}">
  <div class="filters no-dblclick {{ params.filterposition }}">
    <div class="results-info text-info">
      <span class="nb-results">{{ numEntries }}</span>
      {% if numEntries > 1 %}
        <span class="result-label" style="display: none;">{{ _t('BAZ_FICHE_CORRESPONDANT_FILTRES') }}</span>
        <span class="results-label">{{ _t('BAZ_FICHES_CORRESPONDANTES_FILTRES') }}</span>
      {% else %}
        <span class="result-label">{{ _t('BAZ_FICHE_CORRESPONDANT_FILTRES') }}</span>
        <span class="results-label" style="display: none;">{{ _t('BAZ_FICHES_CORRESPONDANTES_FILTRES') }}</span>
      {% endif %}
      {% if params.resetfiltersbutton %}
        <span class="btn btn-xs btn-info reset-filters pull-right {{ params.filtercolsize < 4 ? 'btn-block': '' }}">
          {{ _t('BAZ_RESET_FILTERS') }}
        </span>
        <div class="clearfix"></div>
      {% endif %}
    </div>
    {{ include('@bazar/entries/index/_filters-list.twig') }}
  </div>
</div>