{% extends "@bazar/entries/index-dynamic.twig" %}

{% block assets %}
  {{ include_css('tools/bazar/presentation/styles/card.css') }}
{% endblock %}

{% block display_entries %}
  <div class="bazar-cards-container" v-if="ready" :class="[{ready: ready}, `style-${params.style || 'card'}`]" 
       :style="{'grid-template-columns': `repeat(${params.nbcol}, 1fr)`}">
    
    <div v-if="entriesToDisplay.length == 0" class="alert alert-info">
      {{ _t('BAZ_NO_RESULT') }}
    </div>

    <div v-for="entry in entriesToDisplay" :key="entry.id_fiche" class="bazar-entry bazar-card" 
         @click="getEntryRender(entry)">
      
      {# VISUAL AREA #}
      <div class="area visual-area" v-if="entry.visual" 
          :style="{'background-image': `url(cache/image_${entry.visual})`}">
      </div>
      
      <div class="content">
        {# TITLE AREA #}
        <h4 div class="area title-area" v-if="entry.title">
          <span v-show="entry.color" class="pellet" :style="{'background-color': entry.color}"></span>
          <i v-show="entry.icon" :class="entry.icon"></i>
          <span class="title" v-html="entry.title"></span>
        </h4>  

        {# SUBTITLE AREA #}
        <div class='area subtitle-area' v-if="entry.subtitle" v-html="entry.subtitle"></div>   
        
        {# TEXT AREA #}
        <div class='area text-area' v-if="entry.text" v-html="entry.text"></div>

        {# FOOTER AREA #}
        <div class="area footer-area" v-if="entry.footer" v-html="entry.footer"></div>
        
        {# FLOATING AREA #}
        <div class="area floating-area" v-if="entry.floating">
          <div v-if="fieldInfo('floating').type == 'listedatedeb'" class="date">
            <span class="full">{{"{{ entry.floating.toLocaleDateString([], { weekday: 'short', month: 'long', day: 'numeric' }) }}"}}</span>
            <span class="day">{{"{{ entry.floating.toLocaleDateString([], { day: 'numeric' }) }}"}}</span>
            <span class="month">{{"{{ entry.floating.toLocaleDateString([], { month: 'short' }).replace('.', '') }}"}}</span>
          </div>
          <span v-else v-html="entry.floating" class="text"></span>
        </div>
      </div>
    </div>

    <spinner-loader v-if="isLoading" class="overlay"></spinner-loader>
  </div>
  <spinner-loader v-else height="500"></spinner-loader>
{% endblock %}