{% extends "@bazar/entries/index-dynamic.twig" %}

{% block assets %}
  {{ include_css('tools/bazar/presentation/styles/card.css') }}
{% endblock %}

{% block display_entries %}
  {% set nbcol = params.nbcol %}
  {% set isModal = (params.entrydisplay == 'modal' or params.entrydisplay is empty or params.entrydisplay not in ['modal','direct','newtab']) %}
  {% set isLink = isModal or (params.entrydisplay == 'direct') %}
  {# Restrict number of columns for horizontal card #}
  {% if nbcol > 2 and params.displayfields.visual and params.style == "horizontal" %}
    {% set nbcol =  2 %}
    {{ include('@templates/alert-message.twig',{type:'info',message:_t('BAZ_CARD_NBCOL_TOO_HIGH')}) }}
  {% endif %}
  {% set imWidth = (nbcol == 4) ? 250 : (nbcol == 5 ? 200 : 300 ) %}
  {% set imHeight = params.style == "square" ? imWidth : (params.style == "horizontal" ? imWidth*23//27 : imWidth*2//3 ) %}
  {% set firstTokenCrop = csrfToken("POST api/images/cache/#{imWidth}/#{imHeight}/crop") %}
  <div class="bazar-cards-container" v-if="ready" 
       :class="[{ready: ready}, `style-${params.style || 'vertical'}`, `nbcol-{{nbcol}}`]" 
       :style="{'grid-template-columns': `repeat({{nbcol}}, 1fr)`}">
    
    <div v-if="entriesToDisplay.length == 0" class="alert alert-info">
      {{ _t('BAZ_NO_RESULT') }}
    </div>

    {% if isLink %}<a{% else %}<div{% endif %} v-for="entry in entriesToDisplay" :key="entry.id_fiche" 
        class="bazar-entry bazar-card{{ isModal ? ' modalbox' : ''}}"
        {% if not isLink %}@click="openEntry(entry)"{% endif %} 
        :class="{'with-image': Object.keys(entry).includes('imagefieldname')}"
        {% if isModal %}
          data-size="modal-lg" data-header="false" data-iframe="1"
        {% endif %}
        {% if isLink %}
          :href="`${entry.url + (({{ isModal ? 'true' : 'false' }} || $root.isInIframe()) ? '/iframe' : '')}`"
          :title="entry.title"
        {% endif %}
        >
      
      {# VISUAL AREA #}
      <template v-if="Object.keys(entry).some((e)=>['imagefieldname','videofieldname','urlfieldname'].includes(e))">
        <template v-if="entry.imagefieldname">
          <img 
            loading="lazy"
            :style="{width:((params.style == 'square')? false : '0px'),height:((params.style == 'square')? false : '0px')}"
            class="area visual-area" 
            :src="urlImage(entry,'imagefieldname',{{ imWidth }},{{ imHeight }},'crop')"
            @error="urlImageResizedOnError(entry,'imagefieldname',{{ imWidth }},{{ imHeight }},'crop',{{ firstTokenCrop|json_encode }})"></img>
          <div v-if="params.style != 'square'" class="area visual-area" 
            :style="{color:'blue','background-image': `url('${urlImage(entry,'imagefieldname',{{ imWidth }},{{ imHeight }},'crop')}')`}">
          </div>
        </template>
        {% set seekingKey = 'videofieldname' %}
        {% block displayvideo %}
            <div v-else-if="entry.{{seekingKey}}">
              {% embed '@attach/actions/commons-pdf-video.twig' with {'shape':'embed-responsive-16by9'} %}
                {% block main %}
                  {# vimeo ? #}
                  {% set regExp = '/^https?:\\/\\/.*vimeo\\.com\\/(.+)/' %}
                  <iframe v-if="entry.{{seekingKey}}?.match({{regExp}})"
                    :src="`https://player.vimeo.com/video/${ entry.{{seekingKey}}?.replace({{regExp}},'$1') }?color=ffffff&title=0&byline=0&portrait=0`" 
                    class="embed-responsive-item" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                    allowfullscreen></iframe>
                  {# youtube ? #}
                  {% set regExp = '/^https?:\\/\\/.*(?:youtu\\.be\\/(.+)|youtube.*watch\\?v=([^&]+))/' %}
                  <iframe v-else-if="entry.{{seekingKey}}?.match({{regExp}})"
                        :src="`https://www.youtube-nocookie.com/embed/${ entry.{{seekingKey}}?.replace({{regExp}},'$1$2') }?cc_load_policy=1&iv_load_policy=3&modestbranding=1`" 
                        class="embed-responsive-item" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                        allowfullscreen>
                    </iframe>
                  {# dailymotion ? #}
                  {% set regExp = '/^https?:\\/\\/.*(?:dai\\.?ly.*\\/video\\/|dai\\.ly\\/)(.+)/' %}
                  <iframe v-else-if="entry.{{seekingKey}}?.match({{regExp}})"
                    :src="`https://www.dailymotion.com/embed/video/${ entry.{{seekingKey}}?.replace({{regExp}},'$1') }`"
                    style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" 
                    frameborder="0" 
                    type="text/html" 
                    width="100%"
                    height="100%" 
                    allowfullscreen title="Dailymotion Video Player"
                    ></iframe> 
                  {# peertube ? #}
                  {% set regExp = '/^(https?:\\/\\/.*)(?:\\/videos\\/embed\\/|\\/w\\/)(.+)/' %}
                  <iframe v-else-if="entry.{{seekingKey}}?.match({{regExp}})"
                    :src="`${ entry.{{seekingKey}}?.replace({{regExp}},'$1') }/videos/embed/${ entry.{{seekingKey}}?.replace({{regExp}},'$2') }`"
                    class="embed-responsive-item" sandbox="allow-same-origin allow-scripts" frameborder="0"
                    allowfullscreen>
                    </iframe>
                {% endblock %}
              {% endembed %}
            </div>
        {% endblock %}
        {% set seekingKey = 'urlfieldname' %}
        {{ block('displayvideo') }}
        <div v-else class="area area visual-area placeholder"></div>
      </template>
      
      <div class="content">
        {# TITLE AREA #}
        <h4 div class="area title-area" v-if="entry.title">
          <span v-show="entry.color" class="pellet" :style="{'background-color': entry.color}"></span>
          <i v-show="entry.icon" :class="entry.icon"></i>
          <span class="title" v-html="entry.title"></span>
        </h4>  

        {# SUBTITLE AREA #}
        <entry-field :entry="entry" prop="subtitle" class="area subtitle-area"></entry-field>  
        
        {# TEXT AREA #}
        <entry-field :entry="entry" prop="text" class="area text-area"></entry-field>

        {# FOOTER AREA #}
        <entry-field :entry="entry" prop="footer" class="area footer-area"></entry-field>
        
        {# FLOATING AREA #}
        <entry-field :entry="entry" prop="floating" class="area floating-area"></entry-field>
      </div>
    {% if isLink %}</a>{% else %}</div>{% endif %}

    <spinner-loader v-if="isLoading" class="overlay"></spinner-loader>
  </div>
  <spinner-loader v-else height="500"></spinner-loader>
{% endblock %}
