<p>
    {{ AU_VERSION_WIKI }} :
    <span class="label {{ core.updateAvailable ? 'label-warning' : 'label-primary' }}">{{ core.localRelease }}</span>
</p>
<p>
    {{ AU_VERSION_REPO }} : <span class="label label-primary">{{ core.release }}</span>
</p>

{% if isAdmin and core.updateAvailable %}
    <p> {{ AU_WARNING }} </p>
    <a  href="{{ baseUrl}}{{ core.updateLink }}"
        class="btn btn-primary" title="{{ AU_UPDATE }}">
        {{ AU_UPDATE }}
    </a>
{% endif %}

{% if isAdmin and not core.updateAvailable %}
    <a  href="{{ baseUrl }}{{ core.updateLink }}"
        class="btn btn-danger" title="{{ AU_FORCE_UPDATE }}">
        {{ AU_FORCE_UPDATE }}
    </a>
{% endif %}
