<h2>YesWiki</h2>
<p>
    {{ AU_VERSION_WIKI }} : <span class="label {{ (core.updateAvailable or core.newVersionRequested) ? 'label-warning' : 'label-primary' }}">{{ core.localVersion }} {{ core.localRelease }}</span>
</p>
<p>
    {{ AU_VERSION_REPO }} : <span class="label label-primary">{{ core.requestedVersion }} {{ core.release }}</span>
</p>

{% if isAdmin and core.newVersionRequested %}
    {% if core.PHPVersionEnoughHigh %}
        <a  href="{{ baseUrl }}{{ core.updateLink }}"
            class="btn btn-danger" title="{{ AU_VERSION_UPDATE }}">
            {{ AU_VERSION_UPDATE }}
        </a>
    {% else %}
        <button type="button" class="btn btn-danger" disabled data-toggle="tooltip"
            data-placement="bottom" title="{{ AU_PHP_TOO_LOW }}">
            {{ AU_VERSION_UPDATE }}
        </button>
        <p><i>{{ AU_PHP_TOO_LOW_HINT }}</i></p>
    {% endif %}
{% elseif isAdmin and core.updateAvailable %}
    <p> {{ AU_WARNING }} </p>
    <a  href="{{ baseUrl}}{{ core.updateLink }}"
        class="btn btn-primary" title="{{ AU_UPDATE }}">
        {{ AU_UPDATE }}
    </a>
{% elseif isAdmin and not core.updateAvailable %}
    <a  href="{{ baseUrl }}{{ core.updateLink }}"
        class="btn btn-warning" title="{{ AU_FORCE_UPDATE }}">
        {{ AU_FORCE_UPDATE }}
    </a>
{% endif %}
