<div class="aceditor-container" data-name="{{ arguments.name }}">

  <div class="btn-toolbar aceditor-toolbar">
    {{ include('@aceditor/aceditor-toolbar.twig') }}
  </div>

  <div class="ace-container">
    <pre class="ace-body"></pre>
  </div>

  <textarea id="{{ arguments.name }}" name="{{ arguments.name }}" class="aceditor-textarea">
    {{- arguments.value|raw -}}
  </textarea>

</div>

<script>
  // Send data to javascript
  var actionsBuilderData = {{ actionsBuilderData|json_encode|raw }};
  var pageTags = {{ pageTags|json_encode|raw }}
</script>

{{ include_javascript('tools/aceditor/presentation/javascripts/aceditor.js', false, true) }}
{{ include_css('tools/aceditor/presentation/styles/aceditor.css') }}