<div class="modal fade" id="YesWikiLinkModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 data-show="newlink">{{ _t('ACEDITOR_LINK') }}</h3>
				<h3 data-show="edit">{{ _t('ACEDITOR_LINK_EDIT') }}</h3>
				<h3 data-show="newpage">{{ _t('ACEDITOR_NEWPAGE') }}</h3>
			</div>
			<div class="modal-body">
				<form>
					{# Link (page or url) #}
					<div class="control-group form-group internal-link">
						<label class="control-label" data-show="newlink,edit">{{ _t('ACEDITOR_LINK_PAGE_OR_URL') }}</label>
						<label class="control-label" data-show="newpage">{{ _t('ACEDITOR_LINK_NEW_PAGE_NAME') }}</label>
						<div class="controls">
							<input class="form-control" type="text" name="url" autocomplete="off">
							<span class="link-error help-block text-danger hidden">{{ _t('ACEDITOR_LINK_ERROR') }}</span>
							<span class="help-block" data-show="newlink,edit">{{ _t('ACEDITOR_LINK_HINT_NEW_PAGE_NAME') }}</span>
						</div>
					</div>
					{# Text #}
					<div class="control-group form-group">
						<label class="control-label" data-show="newlink,edit">{{ _t('ACEDITOR_LINK_TEXT') }}</label>
						<label class="control-label" data-show="newpage">{{ _t('ACEDITOR_LINK_NEW_PAGE_TEXT') }}</label>
						<div class="controls">
							<input class="form-control" type="text" name="text">
						</div>
					</div>
					<div class="more-options" data-show="newlink,edit">
						<div class="row">
							<div class="col-md-6">
								{# Title #}
								<div class="control-group form-group">
									<label class="control-label">{{ _t('ACEDITOR_LINK_TITLE') }}</label>
									<div class="controls">
										<input class="form-control" type="text" name="title">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="control-group form-group">
									{# Target #}
									<select class="form-control" name="target" data-show="newlink,edit">
										<option value="" selected>{{ _t('ACEDITOR_LINK_OPEN_IN_CURRENT_TAB') }}</option>
										<option value="newtab">{{ _t('ACEDITOR_LINK_OPEN_IN_NEW_TAB') }}</option>
										<option value="modalbox">{{ _t('ACEDITOR_LINK_OPEN_IN_MODAL') }}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">{{ _t('ACEDITOR_LINK_CANCEL') }}</a>
				<a href="#" class="btn btn-primary btn-insert" data-dismiss="modal">{{ _t('ACEDITOR_LINK_INSERT') }}</a>
			</div>
		</div>
	</div>
</div>
