<div class="control-group form-group">
    <label class="control-label col-sm-3">
        {% if field.required %}<span class="symbole_obligatoire"></span>{% endif %}
        {% if field.hint %}
            <img class="tooltip_aide" title="{{ field.hint|raw('html') }}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" />
        {% endif %}
        {{ field.label }}
    </label>
    <div class="controls col-sm-9">
        <div class="bazar-radio">
            {% for key, option in options %}
            <div class="radio">
                <label for="{{ entryId ~ key }}">
                    <input type="radio" id="{{ entryId ~ key }}" value="{{ key }}" name="{{ entryId }}" {% if value == key %}checked{% endif %} />
                    <span>{{ option }}</span>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
