{% extends "@bazar/layouts/input.twig" %}

{% block input %}
    <div class="bazar-radio">
        {% for key, option in options %}
        <div class="radio">
            <label for="{{ field.entryId ~ key }}">
                <input type="radio" id="{{ field.entryId ~ key }}" value="{{ key }}" name="{{ field.entryId }}" {% if value == key %}checked{% endif %} />
                <span>{{ option }}</span>
            </label>
        </div>
        {% endfor %}
    </div>
{% endblock %}
