{% extends "@bazar/layouts/input.twig" %}

{% block input %}
    <select
        id={{ field.propertyName }}
        name={{ field.propertyName }}
        class="form-control"
        {% if field.maxChars and field.maxChars > 1 %}multiple="multiple" size="{{ field.maxChars }}"{% endif %}
        {% if field.required %}required{% endif %}
    >
        {% if not value %}
            <option value='' selected="selected">{{ _t('BAZ_CHOISIR') }}</option>
        {% endif %}
        {% for key, option in options %}
            <option value={{ key }} {% if value == key %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
{% endblock %}
