{% extends "@bazar/layouts/input.twig" %}

{% block input %}
    <div class="input-group">
        <input
            type="{{ field.subtype }}"
            value="{{ value }}"
            id="{{ field.name }}"
            name="{{ field.name }}"
            class="form-control input-xxlarge"
            maxlength="{{ field.maxChars }}"
            size="{{ field.maxChars }}"
            {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
            placeholder="{{ field.label|raw('html') }}"
            {% if field.required %}required{% endif %}
        />
    </div>
{% endblock %}
