{% if message %}
  {% if userIsAdmin %}
    <div id="checkboxListe{{forceLabel}}_fake_value_checked" class="conditional_inversed_checkbox">
  {% endif %}
    {{ include('@templates/alert-message.twig',{
        type:'info',
        message:message|nl2br()
    })}}
  {% if userIsAdmin %}
    </div>
  {% endif %}
{% endif %}
{% if value %}
    <input type="hidden" name="nomwiki" value="{{ value }}"{% if userEmail is not empty %} data-fieldnametoupdate="{{ field.emailField }}" data-useremail="{{ userEmail }}"{% endif %}/>
{% endif %}
{% if userIsAdmin and value == userName and creationMode %}
    <div class="input-group">
        <label for="checkboxListe{{ forceLabel }}[fake_value_checked]">
            <input 
            class="element_checkbox" 
            type="checkbox" 
            id="checkboxListe{{ forceLabel }}[fake_value_checked]" 
            value="1" 
            name="{{ forceLabel }}"
            {{- forceLabelChecked ? "checked=checked" : "" -}}
            />
            <span></span>
        </label>
        <div class="input-group-append">
            <span class="input-group-text">
                {{ _t('BAZ_USER_FIELD_FORCE_SAVE_ENTRY') }}
            </span>
        </div>
    </div>
{% endif %}
{% if not value or ( userIsAdmin and value == userName and creationMode) %}
    <div class="control-group form-group"{{ userIsAdmin ? " id=checkboxListe" ~ forceLabel ~ "_fake_value_checked" : '' }}>
        <label class="control-label col-sm-3">
            <span class="symbole_obligatoire"></span>
            {% if field.hint %}
                <img loading="lazy" class="tooltip_aide" title="{{ field.hint|raw('html') }}" alt="{{ field.hint|raw('html') }}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" />
            {% endif %}
            {{ _t('BAZ_MOT_DE_PASSE') }}
        </label>
        <div class="controls col-sm-9">
            <div class="input-group">
                <input class="form-control" type="password" name="mot_de_passe_wikini" size="{{ field.size }}" required />
            </div>
        </div>
    </div>
    <div class="control-group form-group"{{ userIsAdmin ? " id=checkboxListe" ~ forceLabel ~"_fake_value_checked": '' }}>
        <label class="control-label col-sm-3">
            <span class="symbole_obligatoire"></span>
            {% if field.hint %}
						<img loading="lazy" class="tooltip_aide" title="{{ field.hint|raw('html') }}" alt="{{ field.hint|raw('html') }}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" />
            {% endif %}
            {{ _t('BAZ_MOT_DE_PASSE') }} ({{ _t('BAZ_VERIFICATION') }})
        </label>
        <div class="controls col-sm-9">
            <div class="input-group">
                <input class="form-control" type="password" name="mot_de_passe_repete_wikini" size="{{ field.size }}" required />
            </div>
        </div>
    </div>
{% endif %}
{{ include_javascript('tools/bazar/presentation/javascripts/inputs/user-field-update-email.js') }}