{% if params.search %}
  {{ include("@bazar/entries/index/_search_input.twig") }}
{% endif %}

{% if filters %}
  {% set resultsColSize = params.filtercolsize|number_format == 12 ? 12 : 12 - params.filtercolsize|number_format %}
  <div class="facette-container row {{ resultsColSize == 12 ? 'facette-container-fullwidth' : ''}}" data-filter-align="{{ params.filterposition }}" data-template="{{ params.template }}">
    
    {% if resultsColSize == 12 and params.filterposition == "left" %}
      {{ include("@bazar/entries/index/_filters.twig") }}
    {% endif %}
    <div class="results-col col-sm-{{ resultsColSize }}">
      {{ include("@bazar/entries/index/_entries.twig") }}
    </div>

    {% if params.filterposition != "left" or resultsColSize != 12 %}
      {{ include("@bazar/entries/index/_filters.twig") }}
    {% endif %}
  </div>
{% else %}
  {{ include("@bazar/entries/index/_entries.twig") }}
{% endif %}

{# showexportbuttons #}
{% if not params.isInIframe and params.showexportbuttons %}
  {{ include("@bazar/entries/index/_export_buttons.twig") }}
{% endif %}
{# end for showexportbuttons #}