{{ include_javascript('javascripts/vendor/vue/vue.js') }}

{% block assets %}
  {% if params.showmapinlistview %}
    {{ include_css('styles/vendor/leaflet/leaflet.css') }}
    {{ include_javascript('javascripts/vendor/leaflet/leaflet.min.js') }}
    {{ include_javascript('javascripts/vendor/leaflet-providers/leaflet-providers.js') }}
    {% endif %}
{% endblock %}
  
{{ include_javascript('tools/bazar/presentation/javascripts/entries-index-dynamic.js', false, true) }}
{{ include_css('tools/bazar/presentation/styles/entries/index-dynamic.css') }}

{# Extra Fields to retrieve from API call. By default we retrieve the one specified in the displayfields config #}
{% if necessary_fields is defined %}
  {% set necessary_fields = necessary_fields|merge(['url']) %}
{% else %}
  {% set necessary_fields = ['url'] %}
{% endif %}
{% set params = params|merge({necessary_fields: necessary_fields}) %}

<div class="bazar-list-dynamic-container no-dblclick {{ params.class ? params.class : ''}}" data-params="{{ params|json_encode }}"
     style="opacity: 0" :class="{mounted: mounted}">

  {% if params.search and not params.groups %}
    {{ include("@bazar/entries/index-dynamic/_search_input.twig") }}
  {% endif %}

  {% set resultsColSize = params.filtercolsize|number_format == 12 ? 12 : 12 - params.filtercolsize|number_format %}
  {% set resultsColSize = params.groups ? resultsColSize : 12 %}

  <div class="facette-container dynamic row {{ resultsColSize == 12 ? 'facette-container-fullwidth' : ''}}" data-filter-align="{{ params.groups ? params.filterposition : '' }}">

    {% if params.groups %}
      {{ include("@bazar/entries/index-dynamic/_filters.twig") }}
    {% endif %}

    <div class="results-col col-sm-{{ resultsColSize }}">
      <div class="bazar-list dynamic" ref="entriesContainer">
        {% block display_entries %}
        {% endblock %}
      </div>
      {{ include("@bazar/entries/index-dynamic/_pagination.twig") }}
    </div>

  </div>

  {% if not params.isInIframe and params.showexportbuttons %}
    {{ include("@bazar/entries/index/_export_buttons.twig") }}
  {% endif %}

  <modal-entry ref="modal"></modal-entry>
</div>
