{{ include_javascript('tools/templates/libs/vendor/vue/vue.js') }}
{{ include_javascript('tools/bazar/presentation/javascripts/bazar-list-dynamic.js', false, true) }}
{{ include_css('tools/bazar/presentation/styles/bazar-list-dynamic.css') }}

{# Fields to retrieve from API call. By defaut we get only bf_titre, each template should override this #}
{% if necessary_fields is defined %}
  {% set params = params|merge({necessary_fields: necessary_fields}) %}
{% endif %}

<div class="bazar-list-dynamic-container" data-params="{{ params|json_encode }}">

  {% if params.search %}
    {{ include("@bazar/entries/list_dynamic/_search_input.twig") }}
  {% endif %}
  
  <div class="facette-container dynamic row" data-filter-align="{{ params.filterposition }}">
    
    {% set resultsColSize = params.filtercolsize|number_format == 12 ? 12 : 12 - params.filtercolsize|number_format %}
    {% set resultsColSize = params.groups ? resultsColSize : 12 %}
    <div class="results-col col-sm-{{ resultsColSize }}">
      <div class="bazar-list dynamic">
        {% block display_entries %}
        {% endblock %}      
      </div>
    </div>

    {% if params.groups %}
      {{ include("@bazar/entries/list_dynamic/_filters.twig") }}
    {% endif %}
    
  </div>

  {{ include("@bazar/entries/list_dynamic/_pagination.twig") }}
</div>
