{{ include_javascript('tools/templates/libs/vendor/vue/vue.js') }}
{{ include_javascript('tools/bazar/presentation/javascripts/bazar-list-dynamic.js', false, true) }}
{{ include_css('tools/bazar/presentation/styles/bazar-list-dynamic.css') }}

<div class="bazar-list-dynamic-container" data-entries="{{ entries }}" data-params="{{ params|json_encode }}"
     data-filters="{{ filters }}">
  <div class="facette-container dynamic row" data-filter-align="{{ params.filterposition }}">
    
    {% set resultsColSize = params.filtercolsize|number_format == 12 ? 12 : 12 - params.filtercolsize|number_format %}
    {% set resultsColSize = filters ? resultsColSize : 12 %}
    <div class="results-col col-sm-{{ resultsColSize }}">
      <div class="bazar-list dynamic">
        {% block display_entries %}
        {% endblock %}      
      </div>
    </div>

    {% if filters %}
      {{ include("@bazar/entries/list_dynamic/_filters.twig") }}
    {% endif %}
    
  </div>

  {{ include("@bazar/entries/list_dynamic/_pagination.twig") }}
</div>
