{% if params.search %}
  {{ include("@bazar/entries/_search_input.twig") }}
{% endif %}

{% if filters %}
  <div class="facette-container row">
    {% if params.filterposition == 'right' %}
      {% block entries %}
        <div class="results-col col-sm-{{ params.filtercolsize|number_format == 12 ? 12 : 12 - params.filtercolsize|number_format }}">
          <div class="results">
            {{ block('renderedEntries')}}
          </div>
        </div>
      {% endblock %}
    {% endif %}

    {{ include("@bazar/entries/_filters.twig") }}

    {% if params.filterposition == 'left' %}
      {{ block('entries')}}
    {% endif %}
  </div>
{% else %}
  {% block renderedEntries %}
    <div id="bazar-list-{{ listId }}" class="bazar-list" data-template="{{ params.template }}">
      <div class="list">{{ renderedEntries|raw }}</div>
    </div>
  {% endblock %}
{% endif %}

{# showexportbuttons #}
{% if not params.isInIframe and params.showexportbuttons %}
  {{ include("@bazar/entries/_export_buttons.twig") }}
{% endif %}
{# end for showexportbuttons #}