{% extends "@bazar/layouts/field.twig" %}

{% block value %}
    {% if field.showContactForm %}
        <a class="btn btn-default modalbox" title="{{ _t('BAZ_CONTACT_BY_MAIL') }}" href="{{ url({
            handler:'mail',
            params:{field:field.propertyName}
            }) }}">
            <i class="fa fa-envelope"></i> {{ _t('BAZ_CONTACT_BY_MAIL') }}
        </a>
    {% else %}
        <a href="mailto:{{ value }}" class="BAZ_lien_mail">{{ value }}</a></span>
    {% endif %}
{% endblock %}
