<div class="BAZ_rubrique" data-id="{{ field.recordId }}">
    <span class="BAZ_label">{{ field.label }}</span>
    <span class="BAZ_texte">
        {% if showContactForm %}
            <a class="btn btn-default modalbox" title="{{ _t('BAZ_CONTACT_BY_MAIL') }}" href="{{ contactFormUrl|raw }}">
                <i class="fa fa-envelope"></i> {{ _t('BAZ_CONTACT_BY_MAIL') }}
            </a>
        {% else %}
            <a href="mailto:{{ value }}" class="BAZ_lien_mail">{{ value }}</a></span>
        {% endif %}
</div>
