{% extends "@bazar/layouts/field.twig" %}

{% block label %}{{ _t('UPLOAD_A_FILE_SHORT')  ~ ' : ' ~ shortFileName }}{% endblock %}

{% block value %}
    <a class="btn btn-primary" 
            href="{{ fileUrl }}" 
            title="{{ _t('BAZ_DOWNLOAD_FILE') ~ ' ' ~ shortFileName}}" 
            data-toggle="tooltip" 
            data-placement="right"
            download{{ shortFileName ? '="'~ shortFileName ~'"' : ''}}>
        {{ _t('TAGS_DOWNLOAD') }}
    </a>
{% endblock %}
