<h3>{{ _t('EDIT_WAKKA_CONFIG_TITLE') }}</h3>
<form
  action=""
  method="post"
  name="edit-wakka-config"
  id="edit-wakka-config"
  class="form-horizontal"
>
  {% for key,value in data %}
    <div class="form-group">
      <label for="{{ key }}">{{ key }}</label>
      <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}"
        {{ help[key] ? 'aria-describedby="' ~ key ~ 'Help"' }}
        {% if placeholders[key] -%}
          placeholder="{{ _t('EDIT_WAKKA_CONFIG_EXEMPLE') }}: {{ placeholders[key] }}"
        {%- endif %}
        >
      {% if help[key] %}
        <small id="{{ key }}Help" class="form-text text-muted">{{ help[key] }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <input type="hidden" name="{{ SAVE_NAME }}" value="1">
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" name="valider" class="btn btn-primary">
        {{ _t('BAZ_VALIDER') }}
      </button>
    </div>
  </div>
</form>