  {# previous tab button #}
  {% if counter > 1 %}
    {% if bottom_nav %}
    <a 
      class="btn {{ btnClass }} pull-left" 
      href="#menu{{ prefix }}{{ counter - 1 }}" 
      role="tab" 
      data-toggle="tab"
      onclick="window.dispatchEvent(new Event('resize'));" {# needed to refresh map for geolocalization #}
    >
      <i class="glyphicon glyphicon-chevron-left"></i>
      {% if counter_on_bottom_nav %}{{ counter -1 }}. {% endif %}{{ titles[counter - 2] }}
    </a>
    {% endif %}
  {% endif %}
  {# next tab button #}
  {% if not isLast and bottom_nav %}
    <a 
      class="btn {{ btnClass }} pull-right" 
      href="#menu{{ prefix }}{{ counter + 1 }}" 
      role="tab" 
      data-toggle="tab"
      onclick="window.dispatchEvent(new Event('resize'));" {# needed to refresh map for geolocalization #}
    >
      {% if counter_on_bottom_nav %}{{ counter + 1 }}. {% endif %}{{ titles[counter] }}
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  {% else %}
    <br>
    <div class="anchor-for-for-actions pull-right"></div>
  {% endif %}
  {# close tab #}
  <div class="clearfix"></div>
 </div><!-- close .yeswiki-tab -->
</div><!-- close tab n°{{ counter }} -->
{# next tab #}
{% if not isLast %}
  <!-- open tab n°{{ counter + 1}} -->
  <div role="tabpanel" class="with-padding tab-pane" id="menu{{ prefix }}{{ counter + 1}}">
{% endif %}