<h2>YesWiki</h2>
<p>
    {{ _t('AU_VERSION_WIKI') }} : <span class="label {{ (core.updateAvailable or core.newVersionRequested) ? 'label-warning' : 'label-primary' }}">{{ core.localVersion }} {{ core.localRelease }}</span>
</p>
<p>
    {{ _t('AU_VERSION_REPO') }} : <span class="label label-primary">{{ core.requestedVersion }} {{ core.release }}</span>
</p>

{% if isAdmin and core.newVersionRequested %}
    <a  href="{{ baseUrl }}{{ core.updateLink }}"
        class="btn btn-danger" title="{{ _t('AU_VERSION_UPDATE') }}">
        {{ _t('AU_VERSION_UPDATE') }}
    </a>
{% elseif isAdmin and core.updateAvailable %}
    <p> {{ _t('AU_WARNING') }} </p>
    <a  href="{{ baseUrl}}{{ core.updateLink }}"
        class="btn btn-primary" title="{{ _t('AU_UPDATE') }}">
        {{ _t('AU_UPDATE') }}
    </a>
{% elseif isAdmin and not core.updateAvailable %}
    <a  href="{{ baseUrl }}{{ core.updateLink }}"
        class="btn btn-warning" title="{{ _t('AU_FORCE_UPDATE') }}">
        {{ _t('AU_FORCE_UPDATE') }}
    </a>
{% endif %}
