<p>Mise à jour :</p>
<ul class="list-group span4">
{% for message in messages %}
    {% set label = "danger" %}
    {% if message.status == "ok" %}
        {% set label = "success" %}
    {% endif %}
    <li class="list-group-item">
        <span class="pull-right label label-{{ label }}">{{ message.status }}</span>
        {{ message.text }}
    </li>
{% endfor %}
</ul>
{% if updateAlreadyForced %}
  {# message to alert user that it is normal that the update starts a second time #}
  <div class="alert alert-info">{{ _t('AU_UPDATED_TWICE') }}</div>
{% endif %}
<a href='{{ url({handler:'update',params:(updateAlreadyForced ? {updateAlreadyForced:1} : {})}) }}'>Finaliser la mise à jour (lancer les actions de post-installation)</a>