<div class="row row-fluid yeswiki-checkbox checkbox">
	<div class="col-lg-4 export-table-container">
		<h4>{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_AVAILABLE_ITEM') }}</h4>
		<div class="alert alert-info">
			{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_ITEM_INFO') }}<div class="btn btn-default btn-success btn-mini btn-xs"><i class="fas fa-plus"></i></div>.
		</div>
		<div class="input-group input-prepend input-append">
			<span class="input-group-addon add-on"><i class="fas fa-filter"></i></span>
			<input class="checkbox-filter-input form-control input-sm" type="text" id="filter-{{ id }}" value="" placeholder="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_FILTER_ITEM') }}" style="background: var(--neutral-light-color);;"/>
			<span class="input-group-btn add-on">
				<button class="btn btn-default btn-sm btn-erase-filter" type="button">&times;</button>
			</span>
		</div><!-- /input-group -->
		<span class="help-block align-right">{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_FILTER_TEXT') }}<span class="checkbox-filter-count">
			{%- set nb_selected = not (attribute(selected_entries_id,0) is empty) ? selected_entries_id|length : 0 -%}
			{{ entries|length - nb_selected }}</span></span>
	<h5>{{ form_name }}
		<a class="pull-right btn btn-xs btn-success checkbox-select-all" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_ADD_ALL') }}" href="#">
		  <i class="fas fa-plus"></i> {{ _t('BAZ_DRAG_n_DROP_CHECKBOX_ADD_ALL') }}</a>
	</h5>
	<div class="clearfix"></div>
	  <div style="max-height:{{ height ?? 300 }}px;overflow:auto;">
		<ul class="list-entries-to-export list-group group-{{ id }}" data-group="{{ id }}">
			{% for item_id, item in entries %}
				{% if item_id not in selected_entries_id %}
					<li class="list-group-item">
						<a class="pull-right btn btn-xs btn-success select-page-item" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_SELECT_ITEM') ~ " " ~ item.name|e ~ " " ~ _t('BAZ_DRAG_n_DROP_CHECKBOX_FOR_THE_LIST') }}" href="#">
							<i class="fas fa-plus"></i>
						</a>
						<a class="hide pull-right btn btn-xs btn-danger remove-page-item" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_DELETE_ITEM') ~ " " ~ item.name|e ~ " " ~ _t('BAZ_DRAG_n_DROP_CHECKBOX_FROM_THE_LIST') }}" href="#">
							<i class="fas fa-minus"></i>
						</a>
						<span class="pull-left hide movable"><i class="fas fa-arrows-alt-v"></i></span>
						{% if item.type != 'list' %}
							<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_SEE_ITEM') ~ " " ~ item.name|e }}" href="{{ item.href }}">
								<i class="fas fa-eye"></i>
							</a>
						{% endif %}{# if item.type != 'list' #}
						<input type="checkbox" id="{{ id }}_{{ item_id }}" value="1" name="{{ id }}[{{ item_id }}]" class="element_checkbox hide"><span style="display:none;"></span>
						&nbsp; {{ item.name }}</li>
				{% endif %}{# if not item_id in selected_entries_id #}
			{% endfor %}{# for item_id, item in entries #}
			<li class="list-group-item empty-list" style="display:none;">{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_EMPTY_LIST') }}</li>
		</ul>
	  </div>
	</div><!-- /.col-lg-4.export-table-container -->

	<div class="col-lg-8 import-table-container">
		<h4>{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_YOUR') }} {{ name }}<a class="pull-right btn btn-xs btn-danger checkbox-remove-all" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_REMOVE_ALL') }}" href="#">
		  <i class="fas fa-minus"></i> {{ _t('BAZ_DRAG_n_DROP_CHECKBOX_REMOVE_ALL') }}
		</a></h4>
		<div class="alert alert-info">
			{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_ORDER_ITEM_INFO') }}
		</div>
		<div class="clearfix"></div>
		<div class="well" style="max-height:{{ height ? height + 110 : 410}}px;overflow:auto;">
			<ul class="checkbox-selection-container list-group group-{{ id }}" data-group="{{ id }}">
			{% if not (attribute(selected_entries_id,0) is empty) %}
			  {% for item_id in selected_entries_id %}
				{% set item = attribute(entries,item_id) %}
				<li class="list-group-item">
					<a class="hide pull-right btn btn-xs btn-success select-page-item" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_SELECT_ITEM') ~ " " ~ item.name|e ~ " " ~ _t('BAZ_DRAG_n_DROP_CHECKBOX_FOR_THE_LIST') }}" href="#">
						<i class="fas fa-plus"></i>
					</a>
					<a class="pull-right btn btn-xs btn-danger remove-page-item" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_DELETE_ITEM') ~ " " ~ item.name|e ~ " " ~ _t('BAZ_DRAG_n_DROP_CHECKBOX_FROM_THE_LIST') }}" href="#">
						<i class="fas fa-minus"></i>
					</a>
					<span class="pull-left movable"><i class="fas fa-arrows-alt-v"></i></span>
					{% if item.type != 'list' %}
						<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_SEE_ITEM') ~ " " ~ item.name|e }}" href="{{ item.href }}">
							<i class="fas fa-eye"></i>
						</a>
					{% endif %}{# if item.type != 'list' #}
					<input type="checkbox" id="{{ id }}_{{ item_id }}" value="1" name="{{ id }}[{{ item_id }}]" class="element_checkbox hide" checked><span style="display:none;"></span>
					&nbsp; {{ item.name }}
				</li>
			  {% endfor %}{# for item_id in selected_entries_id #}
			{% endif %}{# if not (attribute(selected_entries_id,0) is empty) #}
			<li class="list-group-item empty-list" {% if not (attribute(selected_entries_id,0) is empty) %}style="display:none;"{% endif %}>{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_EMPTY_LIST') }}</li>
			</ul>
			<input name="{{ id }}[END_INDEX NO_CHANGE_IT]" value="0" checked id="{{ id }}_hidden" type="hidden">
		</div>
	</div> <!-- /.col-lg-8. publication-selection-container -->
</div> <!-- /.row -->
