<div class="filters-col col-sm-{{ params.filtercolsize }}">
  {% if params.search %}
    {{ include("@bazar/entries/index-dynamic/_search_input.twig") }}
  {% endif %}


  <div class="filters no-dblclick {{ params.filterposition }}" v-if="Object.keys(filters).length">
    <div class="results-info text-info">
      <template v-if="params.filtersresultnb">
        <span class="nb-results">{{"{{ filteredEntriesCount }}"}}</span>
        <span class="result-label">
          <template v-if="entriesToDisplay.length > 1">{{ _t('BAZ_FICHES_CORRESPONDANTES_FILTRES') }}</template>
          <template v-else>{{ _t('BAZ_FICHE_CORRESPONDANT_FILTRES') }}</template>
        </span>
      </template>

      <template v-if="params.resetfiltersbutton">
        <span class="btn btn-xs btn-info reset-filters pull-right" @click="resetFilters()"
              :class="{'btn-block': params.filtercolsize < 4}">
          {{ _t('BAZ_RESET_FILTERS') }}
        </span>
        <div class="clearfix"></div>
      </template>
    </div>

    <div class="btn-group btn-block">
    <button type="button" class="btn btn-sortby btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%; text-align:left; margin-bottom:1em;border:3px solid var(--primary-color);color:var(--primary-color);border-radius:var(--btn-border-radius);">
    <span v-html="sortButtonLabel"></span>
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li v-for="(field, i) in params.sortfields">
        <a href="#" @click.prevent="sortEntries(field, 'asc')">
        <span v-html="'Trier par '+params.sortfieldstitles[i]"></span> <i class="fas fa-arrow-up"></i>
        </a>
        <a href="#" @click.prevent="sortEntries(field, 'desc')">
          <span v-html="'Trier par '+params.sortfieldstitles[i]"></span> <i class="fas fa-arrow-down"></i> 
        </a>
      </li>
    </ul>
    </div>

    <div class="results-container">
      <Panel class="filter-box" v-for="filter, key in filters" :collapsed.sync="filter.collapsed" :key="key">
        <template #header>
          <i v-html="filter.icon" v-show="filter.icon"></i>
          {{"{{ filter.title }}"}}
        </template>
        <template #body>
          <div class="filter-nodes">
            <Filter-Node v-for="filterNode, id in filter.nodes" :key="id" :node="filterNode" />
          </div>
        </template>
      </Panel>
    </div>
  </div>
</div>