<div class="filters-col col-sm-{{ params.filtercolsize }}">
  {% if params.search %}
    {{ include("@bazar/entries/index-dynamic/_search_input.twig") }}
  {% endif %}

  <div class="filters no-dblclick {{ params.filterposition }}" v-if="Object.keys(filters).length">
    <div class="results-info text-info">
      <template v-if="params.filtersresultnb">
        <span class="nb-results">{{"{{ filteredEntriesCount }}"}}</span>
        <span class="result-label">
          <template v-if="entriesToDisplay.length > 1">{{ _t('BAZ_FICHES_CORRESPONDANTES_FILTRES') }}</template>
          <template v-else>{{ _t('BAZ_FICHE_CORRESPONDANT_FILTRES') }}</template>
        </span>
      </template>

      <template v-if="params.resetfiltersbutton">
        <span class="btn btn-xs btn-info reset-filters pull-right" @click="resetFilters()"
              :class="{'btn-block': params.filtercolsize < 4}">
          {{ _t('BAZ_RESET_FILTERS') }}
        </span>
        <div class="clearfix"></div>
      </template>
    </div>

    <div class="results-container">
      <Panel class="filter-box" v-for="filter, key in filters" :collapsed.sync="filter.collapsed" :key="key">
        <template #header>
          <i v-html="filter.icon" v-show="filter.icon"></i>
          {{"{{ filter.title }}"}}
        </template>
        <template #body>
          <div class="filter-nodes">
            <Filter-Node v-for="filterNode, id in filter.nodes" :key="id" :node="filterNode" />
          </div>
        </template>
      </Panel>
    </div>
  </div>
</div>