<strong>Bazar</strong><br />
ℹ️ Removing old geolocation from entries in {{ tablePrefix }}page table<br />
{% if updatedEntries is empty and entriesWithErrors is empty %}
✅ The table {{ tablePrefix }}page is already already updated with no old geolocation data!<br />
{% else %}
  {% if entriesWithErrors is not empty %}
    There is somes errors for :<br />
    <ul>
      {% for entry,message in entriesWithErrors %}
        <li style="color:red;"><a href="{{ url({tag:entry}) }}" class="modalbox" data-size="modal-lg">{{ entry }}</a> => {{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  ✅ Done ! for :<br />
  <ul>
    {% for entry in updatedEntries %}
      <li><a href="{{ url({tag:entry}) }}" class="modalbox" data-size="modal-lg">{{ entry }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
<hr>