<a id="yw-comment-{{ comment.tag }}" name="yw-comment-{{ comment.tag }}"></a>
<div class="yw-comment" data-tag="{{ comment.tag }}"  data-commenton="{{ comment.commentOn }}">
	<div class="comment-info">
		<a href="{{ comment.linkowner }}" style="color:{{ comment.ownercolor }}">
			<img loading="lazy" src="{{ comment.ownerpicture }}" alt="{{ comment.owner }}" class="user-pic img-circle" />
		</a>
		<div class="comment-user-and-date">
			<div class="comment-user">
				<a href="{{ comment.linkowner }}">
					{{ comment.owner }}
				</a>
			</div>
			<div class="comment-date">{{ comment.date }}{% if comment.owner != comment.user %}&nbsp;<i>{{ _t('COMMENT_MODIFIED_BY',{'user':comment.user}) }}</i>{% endif %}</div>
		</div>
	</div>
	<div class="comment-html">
		{{ comment.body|raw }}
	</div>
	<input type="hidden" class="comment-body" name="body" value="{{ comment.rawbody }}" />
	<div class="comment-links">
		{% if comment.linkcomment %}
		<a href="{{ comment.linkcomment }}" class="btn-answer-comment btn btn-xs btn-default"><i class="fas fa-comment"></i> {{ _t('ANSWER')}}</a>
		{% endif %}	
		{% if comment.linkeditcomment %}
		<a href="{{ comment.linkeditcomment }}" class="btn-edit-comment btn btn-xs btn-default"><i class="fas fa-edit"></i> {{ _t('MODIFY')}}</a>
		{% endif %}	
		{% if comment.linkdeletecomment %}
		<a href="{{ comment.linkdeletecomment }}" class="btn-delete-comment btn btn-xs btn-danger"><i class="fas fa-trash"></i> {{ _t('DELETE')}}</a>
		{% endif %}	
	</div>
	<div class="form-comment"></div>
	{% if comment.reponses is not empty %}
	<div class="comment-reponses">
		{{ comment.reponses|raw }}
	</div>
	{% endif %}		
</div>		
