{% if isIframe %}
  {{ include_css('styles/vendor/docsify/vue.min.css') }}

  <div class="yw-main">
    <div class="yw-main-content">
      <div id="app">
    </div>
  </div>

  {# Js CSS for Action #}
  {{ include_css('styles/documentation.css') }}
  {{ include_javascript('javascripts/documentation.js') }}

  {# DocSify js #}
  {{ include_javascript('javascripts/vendor/docsify/docsify.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/search.min.js') }}
  {# {{ include_javascript('javascripts/vendor/docsify/plugins/disqus.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/emoji.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/external-script.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/font-matter.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/ga.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/gitalk.min.js') }}
  {{ include_javascript('javascripts/vendor/docsify/plugins/matomo.min.js') }} #}
  {{ include_javascript('javascripts/vendor/docsify/plugins/zoom-image.min.js') }}
{% else %}
  <div class="yw-main">
    <div class="yw-main-content">
      <iframe src="{{ url({handler:'iframe'}) }}" style="min-height:800px;height:120%;width:100%;" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
{% endif %}