{% if messages %}
<ul class="list-group">
{% for message in messages %}
  <li class="list-group-item">
    <span class="pull-right label label-{{ message.result }}">
    {% if message.result == 'success' %}{{ _t('OK') }}{% endif%}
    {% if message.result == 'warning' %}{{ _t('WARNING') }}{% endif%}
    </span>
    {{ message.output|raw }}
  </li>
{% endfor %}
{% if error %}
  <li class="list-group-item list-group-item-danger">
    <span class="pull-right label label-danger">
    {{ _t('FAIL') }}
    </span>
    {{ error|raw }}
  </li>
{% endif %}
</ul>
{% endif %}

{% if error %}
<form id="form-actions" action="{{ baseUrl }}?PagePrincipale&installAction=install" method="POST">
    <input type="hidden" name="config" value="{{ configPosted }}">
    <div class="form-actions">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> {{ _t('TRY_AGAIN') }}</button>
        <button type="submit" onclick="$('#form-actions').attr('action', $('#form-actions').attr('action').replace('=install', '=default'));" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ _t('GO_BACK') }}</button> 
    </div>
</form>
{% endif %}