<!doctype html>
<html lang="{{ locale }}">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="{{ charset }}">
    <title>{{ _t('INSTALLATION_OF_YESWIKI') }}</title>
    <link href="{{ baseUrl }}styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ baseUrl }}styles/yeswiki-base.css" rel="stylesheet">
    <link href="{{ baseUrl }}themes/margot/styles/margot.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>
        {{ _t('INSTALLATION_OF_YESWIKI') }}
        <small>{{ yeswikiVersion }}</small>
      </h1>
      {{ include(template) }}
    </div>
    <script src="{{ baseUrl }}javascripts/vendor/jquery/jquery.min.js"></script>
    <script src="{{ baseUrl }}javascripts/vendor/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
