{# Aim : replace show function in .tpl.html (only for string) #}
{# Usage : `show($value,$label,$class,$tag);` => {{ showStr(value,label,class,tag) }} #}
{% macro showStr(value,label = '',class = '',tag = 'p') %}
  {% if tag not in ['p','div','span','h1','h2','h3','h4','h5','h6'] %}
    {% set tag = 'p' %}
  {% endif %}
  {% if value %}
    <{{ tag }}{% if class %} class="{{ class }}"{% endif %}>
      {% if label %}
        <strong>{{ label }}</strong>
      {% endif %}
      {{ value|raw }}
    </{{ tag }}>
  {% endif %}
{% endmacro showStr %}
{# ----- #}

{% macro displayValueIfNotEmpty(entry,fieldName,text,form) %}
  {{ include_css('custom/styles/bazar/entry-custom.css') }}
  {% if entry[fieldName] is not empty %}
    <div class="no-display-BAZ-label">
      <strong>{{ text }}</strong>
      {% for field in form.prepared %}
        {% if field.propertyName ==  fieldName %}
          {{ field.renderStaticIfPermitted(entry,null)|raw }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro displayValueIfNotEmpty %}

{% macro showIfNotEmpty(text,fieldName,html) %}
  {% if html[fieldName] is not empty %}
    <p><strong>{{ text }}</strong> {{ html[fieldName]|raw }}</p>
  {% endif %}
{% endmacro showIfNotEmpty %}