{% extends "@login/dropdown.twig" %}

{% block formClass %}form-inline login-form-inline{% endblock %}

{% block signupurlhead %}{% endblock %}{# remove hr #}

{% block signupurlbtnclass %}btn btn-default{% endblock %}

{% block formContent %}
    <input id="inputWikiName" class="form-control" type="text" name="name" value="{{user ? user|e('html_attr') : '' }}" required required placeholder="{{ _t('LOGIN_WIKINAME') }}"/>
    <input id="inputPassword" class="form-control" name="password" type="password" required placeholder="{{ _t('LOGIN_PASSWORD') }}"/>
    <button type="submit" class="btn {{ btnclass }} btn-primary">{{ _t('LOGIN_LOGIN') }}</button>
    {{ block('signupurl') }}
    {{ block('hidden') }}
    <input type="hidden" name="remember" value="0" />
    {{ block('lostPassword') }}
{% endblock %}

{% block notConnected %}
    {% if error is not empty %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ block('form') }}
{% endblock %}