<h2>{{ _t('LOGIN_CHANGE_PASSWORD') }}</h2>

<form class="form-horizontal" method="post">
  {% if errorType == 'emptyEmail' %}
    <div class="alert alert-danger">{{ _t('LOGIN_ADD_EMAIL_TO_CONTINUE') }}.</div>
  {% elseif errorType %}
    <div class="alert alert-danger">{{ errorType }}</div>
  {% endif %}
  <div class="control-group form-group">
    <label class="control-label col-sm-3" for="email">{{ _t('LOGIN_EMAIL') }}</label>
    <div class="controls col-sm-9">
      <input type="email" class="form-control" name="email" required value="" placeholder="{{ _t('LOGIN_EMAIL') }}">
    </div>
  </div>
  <div class="control-group form-group">
    <input type="hidden" name="subStep" value="1" />
    <div class="controls col-sm-9 col-sm-offset-3">
      <button type="submit" class="btn btn-primary">{{ _t('LOGIN_SEND') }}</button>
    </div>
  </div>
</form>